:root {
    --bg-nav-footer-bottom: #2C3E50;
    --color-primary: #1ABC9C;
    --color-text-dark: #333333;
    --bg-footer-top: #3A546D;
    --color-border-bottom: #CCCCCC;
}

/* #region Debug */

#site_header {
    width: 100%;
}

#site_nav {
    width: 100%;
}

.debug .show {
    border: 1px solid white;
    height: 100px;
  /*   width: 70%; */
}

.debug .show_nav {
    border: 1px solid white;
    height: 100px;
}

.debug .show_main {
    border: 1px solid white;
    height: 300px;
  /*   width: 80%; */
}

.debug .show1 {
    border: 1px solid white;
    height: 200px;
 /*    width: 50%; */
}

.debug .show2 {
    border: 1px solid white;
    height: 500px;
}

.debug .show_contact {
    border: 1px solid white;
    height: 150px;
   /*  width: 55%; */
}

/* #endregion Debug */

/* #region Header */

#site_header {
    background-color: var(--color-primary);
}

/* #region Nav */

#site_nav {
    background-color: var(--bg-nav-footer-bottom);
}

.bg_nav-footer-bottom {
    background-color: var(--bg-nav-footer-bottom);
}

/* #endregion Nav */



/* #endregion Header */

/* #region Main */
/* #endregion Main */

/* #region Footer */
/* #endregion Footer */
